@media screen and (max-width: 385px) {
    button.like {
        left: 87%;
        top: 65%;
    }
}

@media screen and (min-width: 493px) {
    button.like {
        top: 40%;
        left: 90%;
    }
}

@media screen and (min-width: 700px) {
    nav.nav-urls ul {
        width: 30%;
    }
}
@media screen and (min-width: 1024px) {
    nav.nav-urls ul {
        width: 20%;
    }
}

@media screen and (max-width: 630px) {
    .admin-panel {
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) {
    .about-h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 550px) {
    .nav-urls ul, form.not-mobile-form {
        visibility: hidden;
    }
    .nav-urls {
        height: 30px;
    }
    .menu-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .not-mobile-form, .not-mobile-menu {
        display: none;
    }
    .div-search {
        display: none;
    }
}