:root {
	--color: #fafafa;
	--background-color: #2f3640;
	--cardBcg: #34495e;
	--navBcg: #192a56;
	--paginationBcg: #3c6382;
	--searchBcg: #3c6382;
	--settingsColor: #576574;
	--darkness: rgba(19, 18, 18, 0.9);
	--modalColor: #2980b9; 
}