body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav.nav-urls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c649c;
    height: 70px;
    padding: 0 20px;
}

input[type="search"] {
    border: none;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 5px;
    width: 130px;
    height: 40px;
}

button.btn-search {
    border: none;
    border-radius: 3px;
    background-color: #2ec1cc;
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition:  0.2s;
}

button.btn-search:hover {
    background-color: #2b7abb;
}

nav.nav-urls ul {
    width: 40%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

nav.nav-urls ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav.nav-urls ul li a::before {
	content: '';
	bottom: -5px;
	right: 0;
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #c4c4c4;
	transition: 0.2s;
}

nav.nav-urls ul li a:hover::before {
	width: 100%;
	left: 0;
}

.wrapper-tags {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-wrapper-about {
    display: flex;
    justify-content: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.about-inf {
    text-align: center;
}

.btn-create-post {
    width: 20%;
}

form.post-delete-form,
form.post-update-form,
form.post-create-form,
form.tag-create-form,
form.tag-delete-form,
form.tag-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

button.like i {
    color: red;
    transition: 0.25s;
}

button.like {
    outline: none;
    background-color: #F7F7F7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 90%;
}

button.like:hover i {
    transform: scale(1.4);
}

.card-footer {
    position: relative;
}

.anim {
    animation: like 1.2s, ease-out;
    animation: like 1.2s ease-out;
}

@keyframes like {
    0% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(360deg);
    }
    90% {
        transform: scale(1.5);
    }
}

.menu-btn {
    display: none;
    background-color: #353b48;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 3px 5px;
    outline: none;
    cursor: pointer;
}

.menu-btn {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }
  .menu-btn span::before {
    transform: translateY(-5px);
  }
  .menu-btn span::after {
    transform: translateY(5px);
  }
  
  .menu-btn_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
  }
  .menu-btn_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
  }
  .menu-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
  }
  .menu-nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    transition: 1s;
    margin-right: 10px;
    transform: rotate(180deg)
  }
  .menu-nav {
    display:flex;
    align-items: center;
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 30px;
    line-height: 50px;
    background-color: #fff;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
}

.menu-block {
    transform: rotate(180deg);
    display: none;
}

form.form-search {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .search-input {
    background-color: #251f6b;
    border-radius: 40px;
    width: 0;
    height: 0;
    outline: none;
    transition: 0.25s;
    margin: 0;
    color: #000;
    padding-left: 5%;
}

form .search-input-active {
    width: 200px;
    height: 30px;
}

.fa-search {
    color: #000;
}

.search-btn:hover {
    text-decoration: none;
}

.search-btn {
    background-color: #251f6b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transform: translateX(-50px);
}

.form-btn {
    transition: 0.2s;
    width: 25px;
    transform: translateX(10px);
    background-color: #2ecc71;
    height: 25px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    visibility: hidden;
}

.form-btn i {
    color: #fff;
}

.form-btn-active {
    visibility: visible;
}

.ajaxbtn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #2ecc71;
    padding: 5px;
    border-radius: 5%;
}

.ajaxbtn:hover {
    background-color: #27ae60;
}