body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

footer {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 0;
}

nav.nav-urls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    padding: 0 20px;
}

nav.nav-urls ul {
    list-style: none;
    margin: 0;
}

nav.nav-urls ul li {
    display: inline-block;
    margin: 0 15px;
}

nav.nav-urls ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav.nav-urls ul li a::before {
	content: '';
	bottom: -5px;
	right: 0;
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #c4c4c4;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

nav.nav-urls ul li a:hover::before {
	width: 100%;
	left: 0;
}

.wrapper-tags {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
}

.main-wrapper-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
}

.about-inf {
    text-align: center;
}

button.like i {
    color: red;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

button.like {
    outline: none;
    background-color: #F7F7F7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 90%;
}

button.like:hover i {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.card-footer {
    position: relative;
}

.anim {
    -webkit-animation: like 0.5s, ease-in;
            animation: like 0.5s, ease-in;
    -webkit-animation: like 0.5s ease-in;
            animation: like 0.5s ease-in;
}

@keyframes like {
    10% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.8);
    }
}

.search-input {
    width: 200px;
    height: 25px;
    border-radius: 40px;
    opacity: 0;
    transition: 0.25s;
    outline: none;
    border:none;
    margin: 0;
    color: #fff;
    padding-left: 5%;
}

.search-input-active {
    opacity: 1;
}

.fa-search {
    color: #000;
    font-size: 20px;
}

.search-btn:hover {
    text-decoration: none;
}

.search-btn {
    outline: none;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.form-btn {
    height: 25px;
    width: 25px;
    background-color: #2ecc71;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.25s;
}

.form-btn i {
    color: #fff;
}

.form-btn-active {
    opacity: 1;
}

.card {
    margin: 5% 0;
}
  
body {
    color: var(--color);
    background-color: var(--background-color);
}

.card {
    background-color: var(--cardBcg);
}

button.like {
    background-color: transparent;
}

.nav-urls {
    background-color: var(--navBcg);
}

.search-btn, form .search-input {
    background-color: var(--searchBcg);
}

.form-search {
    display: inline-block;
    margin: 0 10px;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.themeBtn {
    cursor: pointer;
    font-size: 30px;
}

.fa-moon {
    color: #130f40;
}

.fa-sun {
    color: #fff;
}

button {
    cursor: pointer;
    outline:none;
    border: none;
    background: none;
}

button:focus {
    outline: none;
}

:root {
    --color: #000000;
	--background-color: #ffffff;
	--navBcg: #3c649c;
	--searchBcg:#251f6b;
}

[data-theme="dark"] {
    --color: #fafafa;
    --colorInModal: #000000;
	--background-color: #2f3640;
	--cardBcg: #34495e;
	--navBcg: #192a56;
	--paginationBcg: #3c6382;
    --searchBcg: #3c6382;
}