{% extends "blog/baseBlog.html" %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <div class="main-wrapper-about">
        <div class="about-wrapper">
            <h1>About Page</h1>
            <p class="about-inf">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores amet eum molestiae illo possimus eius non doloremque omnis deleniti! Expedita aspernatur explicabo rem modi quo praesentium quae nesciunt, vitae, tenetur distinctio eius adipisci doloremque iste illum eveniet at sed. Repudiandae quia doloremque nostrum necessitatibus, in labore ullam quas unde repellat neque natus nam laborum sint enim consequatur vitae. Ullam, voluptatem vel. Commodi molestiae laborum nulla, minima dolor quos odio quisquam magni inventore soluta veniam tenetur in rerum dolorem quia deleniti ex error. Accusantium amet debitis dicta. Aperiam, facere esse!
            </p>
        </div>
    </div>
{% endblock %}