{% load static %}
<!-- загружаем статичные файлы -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- подключаем css файл -->
    <link rel="stylesheet" href="{% static 'css/admin-panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <title>
        {% block title%}
            Blog
        {% endblock %}
    </title>
    <!-- если ничего не будет в основных файлах, то будет отображаться это -->
</head>
<body>
    <nav class="nav-urls">
          <ul>
            <li>
              <a href="{% url 'postsList_url'%}">Posts</a>
              <!-- ссылка, так удобнее указывать, и чтобы было без ошибок -->
            </li>
            <li>
              <a href="{% url 'tags_list_url' %}">Tags</a>
            </li>
            <li>
              <a href="{% url 'aboutList_url'%}">About</a>
            </li>
          </ul>
          <form action="{% url 'postsList_url' %}">
              <input type="search" placeholder="Search" name="search">
          <form action="{% url 'postsList_url' %}">
              <input type="search" placeholder="Search" name="search">
              <button type="submit" class="btn-search">Search</button>
          </form>
      </nav>
    {% block content %}
        There is no any content for you(
    {% endblock %}
    {% if is_paginated %}
    <div class="wrapper">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
          <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% for n in page_object.paginator.page_range %}
        <!-- посты в пагинатре с перовой стр до последней -->
          {% if page_object.number == n%}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{n}}">{{n}}<span class="sr-only"></span></a>
            </li>
          {% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
          <!-- отобр только +- 3 от текущ элемента -->
          <li class="page-item">
            <a class="page-link" href="?page={{n}}">{{n}}</a>
            <!-- ссылка -->
          </li>
          {% endif %}
        {% endfor %}

        <li class="page-item {% if not next_url %} disabled {% endif %}">
          <a class="page-link" href="{{next_url}}">Next</a>
        </li>
      </ul>
    </nav>
    {% endif %}
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %}
    <!-- если пользователь залогинен и является админом -->
      <div class="admin-panel">
        {% block admin-panel %}{% endblock %}
      </div>
    {% endif %}
</body>
<script>
    var like = $(".like");
    like.click(function(){
      var heart = $(this).children();
      heart.toggleClass("anim");
      heart.toggleClass("fas");
    })
</script>
</html>