{% load static %}
<!-- загружаем статичные файлы -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <!-- подключаем css файл -->
    <link rel="stylesheet" href="{% static 'css/admin-panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">
    <link rel="stylesheet" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" href="{% static 'css/light.css' %}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{% static 'css/dark.css' %}">
    <title>
        {% block title%}
            Blog
        {% endblock %}
    </title>
    <!-- если ничего не будет в основных файлах, то будет отображаться это -->
</head>
<body>
    <nav class="nav-urls">
        <div class="menu-block">
            <nav class="menu-nav">
                <a href="{% url 'aboutList_url'%}">About</a>
                <a href="{% url 'tags_list_url' %}">Tags</a>
                <a href="{% url 'postsList_url'%}">Posts</a>
            </nav>
            
            <a href="#" class="menu-btn">
              <span></span>
            </a>
          </div>
          <ul class="not-mobile-menu">
            <li>
              <a href="{% url 'postsList_url'%}">Posts</a>
              <!-- ссылка, так удобнее указывать, и чтобы было без ошибок -->
            </li>
            <li>
              <a href="{% url 'tags_list_url' %}">Tags</a>
            </li>
            <li>
              <a href="{% url 'aboutList_url'%}">About</a>
            </li>
          </ul>
            <form action="{% url 'postsList_url' %}" class="form-search">
              <input class="search-input" type="search" name="search">
              <button class="form-btn" type="submit"><i class="fas fa-check"></i></button>
              <a href="" class="search-btn">
                <i class="fas fa-search"></i>
              </a>
            </form>
      </nav>
    {% block content %}
        There is no any content for you(
    {% endblock %}
    {% if is_paginated %}
    <footer>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
          <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% for n in page_object.paginator.page_range %}
        <!-- посты в пагинатре с перовой стр до последней -->
          {% if page_object.number == n%}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{n}}">{{n}}<span class="sr-only"></span></a>
            </li>
          {% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
          <!-- отобр только +- 3 от текущ элемента -->
          <li class="page-item">
            <a class="page-link" href="?page={{n}}">{{n}}</a>
            <!-- ссылка -->
          </li>
          {% endif %}
        {% endfor %}

        <li class="page-item {% if not next_url %} disabled {% endif %}">
          <a class="page-link" href="{{next_url}}">Next</a>
        </li>
      </ul>
    </nav>
    </footer>
    {% endif %}
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %}
    <!-- если пользователь залогинен и является админом -->
      <div class="admin-panel">
        {% block admin-panel %}{% endblock %}
      </div>
    {% endif %}
</body>
<script>
    var like = $(".like");
    like.click(function(){
      var heart = $(this).children();
      heart.toggleClass("anim");
      heart.toggleClass("fas");
    });
    var button = document.querySelector(".menu-btn");
    var nav = document.querySelector(".menu-nav");
    button.onclick = function(event) {
      event.preventDefault();//отменяет стандартное действие тега, в данном случае ссылки
      this.classList.toggle("menu-btn_active");//присваиваем класс по клику
      nav.classList.toggle("menu-nav_active");
    }
    var search_txt = document.querySelector(".search-input");
    var search_btn = document.querySelector(".search-btn");
    var form_btn = document.querySelector(".form-btn");
    search_btn.onclick = function(event){
      event.preventDefault();
      search_txt.focus();
      search_txt.classList.toggle("search-input-active");
      form_btn.classList.toggle("form-btn-active");
    }
</script>
</html>